<div class="row">
  <h2>Edit</h2>

  <form class="col l12" action="/photos/<%= photo._id %>" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="input-field col l12">
      <input type="text" name="link" id="link_field" value="<%= photo.url %>">
      <label for="link_field">Link</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="caption" id="caption_field" value="<%= photo.caption %>">
      <label for="caption_field">Caption</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Save</button>
    </div>
  </form>

</div>
