<div class="row">

  <h2>Add photo</h2>

  <form class="col l12" action="/photos" method="post">
    <div class="input-field col l12">
      <input type="text" name="url" id="url_field">
      <label for="url_field">URL</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="caption" id="caption_field" >
      <label for="caption_field">Caption</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Add photo</button>
    </div>
  </form>

</div>
