

<div class="row">

  <% photos.forEach(photo => { %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="<%= photo.url %>">
        </div>
        <div class="card-content">
        <p><%= photo.caption %></p>
          // show comments
          // <ul>
          //   <% photo.comments.forEach(comment =>{ %>
          //     <li><%= comment %><li>
          //   <% }) %>
          // </ul>
        </div>
        <div class="card-action">
        // add comment function
          </form>
        </div>
      </div>
    </div>
  <% }) %>

</div>
