

<div class="row">
    <div class="col s12 m4">
      <div class="card">

        <div class="card-image">
          <img src="<%= photo.url %>">
        </div>

        <div class="card-content">
          <p><%= locals.user.username %><i class="material-icons right">more_vert</i></p>
          <p><%= photo.caption %></p>
          // show comments
        </div>

        <div class="card-action">
          <div class="input-field">
            <input id="comment" type="comment" class="comment">
            <label for="comment">Add comment...</label>
          </div>
        </div>

      </div>
    </div>

</div>
