

<div class="row">

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="<%= photo.url %>">
        </div>
        <div class="card-content">
        <p><%= photo.caption %></p>
          // show comments
        </div>
        <div class="card-action">
        // add comment function
        <form method="POST" action="/photos/<%= photo._id %>">
         <input type="hidden" name="_method" value="delete">
         <button class="red btn">Delete</button>
       </form>
        </div>
      </div>
    </div>

</div>
