.brand-logo{
font-family: 'Oleo Script', cursive;
}

.user{
  font-weight: bold;
  color: #3f51b5;
}

.row{
  margin: 10% auto;
}


// -------------- icons ----------------

.show-icons:hover{
   transform: scale(1.5);
   color: #3f51b5;
}



// -------------- images ----------------

img.profilePicture{
  margin: 10px;
  height: 40px;
  border-radius: 40px;
}

img.photoPicture{
  margin-left: 0px;
}


// -------------- buttons ----------------

.vertical-button{
  color: grey;
}

.add-comment button {
  background: none;
  border: none;
}

.delete-comment button {
  background: none;
  border: none;
}

.reveal{
  margin: 30px 20px;
  display: block;
  width: 100px;
}
