.brand-logo{
font-family: 'Oleo Script', cursive;
}

.user{
  font-weight: bold;
  color: #3f51b5;
}

.row{
  margin: 10% auto;
}


// -------------- icons ----------------


.send-icon:hover{
   transform: scale(1.5);
   color: #00bcd4;
}

.delete-icon:hover{
   transform: scale(1.5);
   color: #e51c23;
}
.add-comment button {
  background: none;
  border: none;
}

.delete-comment button {
  background: none;
  border: none;
}

// -------------- images ----------------

img.profilePicture{
  margin: 10px;
  height: 40px;
  border-radius: 40px;
}

img.photoPicture{
  margin-left: 0px;
}


// -------------- buttons ----------------

.vertical-button{
  color: grey;
}

.reveal{
  margin: 30px 20px;
  display: block;
  width: 100px;
}

#view-button, #edit-button{
  background-color: #00bcd4;
}

#delete-button{
  background-color: #e51c23;
}



.delete-div{
  position: relative;
}

.delete-comment{
  position: absolute;
  right: 0;
  top: 2px;
}


.card .card-content p {
  margin: 0;
  text-align: left;
}

form.add-comment{
  position: relative;
}

.send-icon{
  position: absolute;
  right: 0;
  top: 1 px;
}
