<h2>User Information</h2>

  <div class="col l12">
    <p><%= user.username %></p>
  </div>
  <div class="input-field col l12">
    <p><%= user.email%></p>
  </div>
  <div class="input-field col l12">
    <p><%= user.picture%></p>
  </div>
</form>

</div>
