<h2>User Information</h2>

  <div class="col l12">
    <h4>Username: <%= user.username %></h4>
  </div>
  <div class="input-field col l12">
    <h4>Email: <%= user.email%></h4>
  </div>
  <div class="input-field col l12">
    <h4>Profile Picture: <%= user.picture%></h4>
  </div>
</form>

</div>
